*{
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

/* DISPLAY */
.displayNone{
    display: none;
}
.displayActive{
    visibility: visible;
}

.fav{
    height: 41px;
    width: 41px;
    position: absolute;
    right: 25px;
    top: 10px;
}


.carritoVentanaNone{
    display: none !important;
    height: 400px;
    width: 70vw;
    z-index: 1;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 8% auto 0 auto;
}
.carritoVentanaActive{
    display: active !important;
    height: 400px;
    width: 70vw;
    z-index: 1;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 8% auto 0 auto;
}

